In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('E:\\titanic.csv')
df.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
df['age'].mode()

0    24.0
Name: age, dtype: float64

In [5]:
df['sex'].mode()[0]

'male'

In [10]:
df['sex']=df['sex'].fillna(df['sex'].mode()[0])

In [11]:
df['sex'].isnull().sum()

np.int64(0)

In [12]:
df.select_dtypes(include = 'object')

,name,sex,ticket,cabin,embarked,boat,home.dest
0,"Allen, Miss. Elisabeth Walton",female,24160,B5,S,2,"St Louis, MO"
1,"Allison, Master. Hudson Trevor",male,113781,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,"Allison, Miss. Helen Loraine",female,113781,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,"Allison, Mr. Hudson Joshua Creighton",male,113781,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,113781,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...
1304,"Zabour, Miss. Hileni",female,2665,NaN,C,NaN,NaN
1305,"Zabour, Miss. Thamine",female,2665,NaN,C,NaN,NaN
1306,"Zakarian, Mr. Mapriededer",male,2656,NaN,C,NaN,NaN
1307,"Zakarian, Mr. Ortin",male,2670,NaN,C,NaN,NaN
1308,"Zimmerman, Mr. Leo",male,315082,NaN,S,NaN,NaN

In [13]:
df.select_dtypes(include='object').isnull().sum()

name            0
sex             0
ticket          0
cabin        1014
embarked        2
boat          823
home.dest     564
dtype: int64

In [14]:
df.select_dtypes(include='object').isnull().columns

Index(['name', 'sex', 'ticket', 'cabin', 'embarked', 'boat', 'home.dest'], dtype='object')

In [15]:
for col in df.select_dtypes(include='object').isnull().columns:
    print(col)

name
sex
ticket
cabin
embarked
boat
home.dest

In [18]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(df[col].mode()[0])
df.select_dtypes(include='object').isnull().sum()

name         0
sex          0
ticket       0
cabin        0
embarked     0
boat         0
home.dest    0
dtype: int64

## **Handling Missing Values (Scikit-Learn)**

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       121 non-null    float64
 13  home.dest  1309 non-null   object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [20]:
df.select_dtypes(include='float64')

          age      fare   body
0     29.0000  211.3375    NaN
1      0.9167  151.5500    NaN
2      2.0000  151.5500    NaN
3     30.0000  151.5500  135.0
4     25.0000  151.5500    NaN
...       ...       ...    ...
1304  14.5000   14.4542  328.0
1305      NaN   14.4542    NaN
1306  26.5000    7.2250  304.0
1307  27.0000    7.2250    NaN
1308  29.0000    7.8750    NaN

[1309 rows x 3 columns]

In [22]:
df.select_dtypes(include='float64').columns

Index(['age', 'fare', 'body'], dtype='object')

In [23]:
from sklearn.impute import SimpleImputer

In [24]:
si = SimpleImputer(strategy = 'mean')

In [33]:
ar = si.fit_transform(df[['age', 'fare', 'body']])

In [36]:
new_dataset = pd.DataFrame(ar, columns=df.select_dtypes(include='float64').columns)

In [37]:
new_dataset.isnull().sum()

age     0
fare    0
body    0
dtype: int64

In [38]:
df['body'].mean()

np.float64(160.8099173553719)

In [39]:
df['fare'].mean()

np.float64(33.29547928134557)

In [40]:
df['age'].mean()

np.float64(29.8811345124283)

In [41]:
print(new_dataset)

            age      fare        body
0     29.000000  211.3375  160.809917
1      0.916700  151.5500  160.809917
2      2.000000  151.5500  160.809917
3     30.000000  151.5500  135.000000
4     25.000000  151.5500  160.809917
...         ...       ...         ...
1304  14.500000   14.4542  328.000000
1305  29.881135   14.4542  160.809917
1306  26.500000    7.2250  304.000000
1307  27.000000    7.2250  160.809917
1308  29.000000    7.8750  160.809917

[1309 rows x 3 columns]

In [45]:
SI = SimpleImputer(strategy = 'most_frequent')
Data_filled = SI.fit_transform(df.select_dtypes(include='float64'))

In [47]:
Dataframe = pd.DataFrame(Data_filled, columns=df.select_dtypes(include='float64').columns)

In [49]:
Dataframe

          age      fare   body
0     29.0000  211.3375    1.0
1      0.9167  151.5500    1.0
2      2.0000  151.5500    1.0
3     30.0000  151.5500  135.0
4     25.0000  151.5500    1.0
...       ...       ...    ...
1304  14.5000   14.4542  328.0
1305  24.0000   14.4542    1.0
1306  26.5000    7.2250  304.0
1307  27.0000    7.2250    1.0
1308  29.0000    7.8750    1.0

[1309 rows x 3 columns]

In [50]:
df=pd.read_csv('E:\\titanic.csv')

In [52]:
Object_filled = SI.fit_transform(df.select_dtypes(include='object'))

In [54]:
pd.DataFrame(Object_filled, columns=df.select_dtypes(include='object').columns)

,name,sex,ticket,cabin,embarked,boat,home.dest
0,"Allen, Miss. Elisabeth Walton",female,24160,B5,S,2,"St Louis, MO"
1,"Allison, Master. Hudson Trevor",male,113781,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,"Allison, Miss. Helen Loraine",female,113781,C22 C26,S,13,"Montreal, PQ / Chesterville, ON"
3,"Allison, Mr. Hudson Joshua Creighton",male,113781,C22 C26,S,13,"Montreal, PQ / Chesterville, ON"
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,113781,C22 C26,S,13,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...
1304,"Zabour, Miss. Hileni",female,2665,C23 C25 C27,C,13,"New York, NY"
1305,"Zabour, Miss. Thamine",female,2665,C23 C25 C27,C,13,"New York, NY"
1306,"Zakarian, Mr. Mapriededer",male,2656,C23 C25 C27,C,13,"New York, NY"
1307,"Zakarian, Mr. Ortin",male,2670,C23 C25 C27,C,13,"New York, NY"
1308,"Zimmerman, Mr. Leo",male,315082,C23 C25 C27,S,13,"New York, NY"

## **One Hot Encoding & Dummy Variables**

In [56]:
df[['sex', 'embarked']].isnull().sum()

sex         0
embarked    2
dtype: int64

In [57]:
df[['sex', 'embarked']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       1309 non-null   object
 1   embarked  1307 non-null   object
dtypes: object(2)
memory usage: 20.6+ KB

In [63]:
df[['embarked']]=SI.fit_transform(df[['embarked']])

In [65]:
df['embarked'].isnull().sum()

np.int64(0)

In [66]:
# Lets do encoding now
en_data = df[['sex', 'embarked']]
en_data

         sex embarked
0     female        S
1       male        S
2     female        S
3       male        S
4     female        S
...      ...      ...
1304  female        C
1305  female        C
1306    male        C
1307    male        C
1308    male        S

[1309 rows x 2 columns]

In [69]:
df[['sex']].value_counts()

sex
male      843
female    466
Name: count, dtype: int64

In [70]:
df[['embarked']].value_counts()

embarked
S           916
C           270
Q           123
Name: count, dtype: int64

In [73]:
pd.get_dummies(en_data)
# Now this a bolean type data we need to perform sum more operations to convert this into binary form

      sex_female  sex_male  embarked_C  embarked_Q  embarked_S
0           True     False       False       False        True
1          False      True       False       False        True
2           True     False       False       False        True
3          False      True       False       False        True
4           True     False       False       False        True
...          ...       ...         ...         ...         ...
1304        True     False        True       False       False
1305        True     False        True       False       False
1306       False      True        True       False       False
1307       False      True        True       False       False
1308       False      True       False       False        True

[1309 rows x 5 columns]

> Since transforming the data through pandas gave us bolean formate that requires some further steps to convert it to binary formate but we can do this while simply using scikitlearn library that will do it in few steps

In [75]:
from sklearn.preprocessing import OneHotEncoder

In [76]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2618 stored elements and shape (1309, 5)>

> Now this gave me sparse matrix that means data is mostly in the formate of 0 and 1 now lets convert this into an array

In [77]:
ohe.fit_transform(en_data).toarray()

array([[1., 0., 0., 0., 1.],
       [0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       ...,
       [0., 1., 1., 0., 0.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1.]])

In [80]:
DF = ohe.fit_transform(en_data).toarray()
pd.DataFrame(DF, columns=['sex_male', 'sex_female', 'S', 'C', 'Q'])

      sex_male  sex_female    S    C    Q
0          1.0         0.0  0.0  0.0  1.0
1          0.0         1.0  0.0  0.0  1.0
2          1.0         0.0  0.0  0.0  1.0
3          0.0         1.0  0.0  0.0  1.0
4          1.0         0.0  0.0  0.0  1.0
...        ...         ...  ...  ...  ...
1304       1.0         0.0  1.0  0.0  0.0
1305       1.0         0.0  1.0  0.0  0.0
1306       0.0         1.0  1.0  0.0  0.0
1307       0.0         1.0  1.0  0.0  0.0
1308       0.0         1.0  0.0  0.0  1.0

[1309 rows x 5 columns]

> now in order to delete the column first we need following things

In [83]:
ohe = OneHotEncoder(drop='first')
D = ohe.fit_transform(en_data).toarray()

In [87]:
pd.DataFrame(D, columns = ['male', 'C', 'Q'])

      male    C    Q
0      0.0  0.0  1.0
1      1.0  0.0  1.0
2      0.0  0.0  1.0
3      1.0  0.0  1.0
4      0.0  0.0  1.0
...    ...  ...  ...
1304   0.0  0.0  0.0
1305   0.0  0.0  0.0
1306   1.0  0.0  0.0
1307   1.0  0.0  0.0
1308   1.0  0.0  1.0

[1309 rows x 3 columns]

In [86]:
df.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

## **Label Encoding**

In [88]:
df = pd.DataFrame({"Names": ['wscube', 'cow', 'cat', 'dog', 'black']})
df

    Names
0  wscube
1     cow
2     cat
3     dog
4   black

In [89]:
from sklearn.preprocessing import LabelEncoder

In [92]:
le = LabelEncoder()
df["End_names"]=le.fit_transform(df["Names"])

In [93]:
df

    Names  End_names
0  wscube          4
1     cow          2
2     cat          1
3     dog          3
4   black          0

In [94]:
df = pd.read_csv('E:\\titanic.csv')

In [95]:
df.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [96]:
df['Name_Encoded'] = le.fit_transform(df['name'])

In [97]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Name_Encoded
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",21
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",23
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",24
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",25
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,1291
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,1292
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,1293
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,1294
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,1295

In [98]:
le.fit(df['name'])

LabelEncoder()

In [99]:
le.transform(df['name'])

array([  21,   23,   24, ..., 1293, 1294, 1295])

In [100]:
le.fit(df['embarked'])

LabelEncoder()

In [101]:
le.transform(df['embarked'])

array([2, 2, 2, ..., 0, 0, 2])

In [102]:
df['embarked'].unique()

array(['S', 'C', nan, 'Q'], dtype=object)

In [103]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

## **Ordinal Encoding**

In [104]:
df = pd.DataFrame({"Size": ['s', 'm', 'l', 'xl', 'xxl', 's', 'l', 'm', 'xxl', 'l', 'xl', 'm']})
df

   Size
0     s
1     m
2     l
3    xl
4   xxl
5     s
6     l
7     m
8   xxl
9     l
10   xl
11    m

In [105]:
ord_data = [['s', 'm', 'l', 'xl', 'xxl']]

In [106]:
from sklearn.preprocessing import OrdinalEncoder

In [111]:
oe = OrdinalEncoder(categories=ord_data)
df['Size-encoded']=oe.fit_transform(df)

In [112]:
df

   Size  Size-encoded
0     s           0.0
1     m           1.0
2     l           2.0
3    xl           3.0
4   xxl           4.0
5     s           0.0
6     l           2.0
7     m           1.0
8   xxl           4.0
9     l           2.0
10   xl           3.0
11    m           1.0

In [115]:
ord_data1 = {"s":0, "m":1, "l":2, "xl":3, "xxl":4}
df['Size_enc_map']=df['Size'].map(ord_data1)

In [116]:
df

   Size  Size-encoded  Size_enc_map
0     s           0.0             0
1     m           1.0             1
2     l           2.0             2
3    xl           3.0             3
4   xxl           4.0             4
5     s           0.0             0
6     l           2.0             2
7     m           1.0             1
8   xxl           4.0             4
9     l           2.0             2
10   xl           3.0             3
11    m           1.0             1

In [118]:
df = pd.read_csv('E:\\titanic.csv')
df.head(2)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

In [127]:
df['embarked']=df['embarked'].fillna(df['embarked'].mode()[0])

In [128]:
df['embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [129]:
Order = [['S', 'C', 'Q']]

In [130]:
oen = OrdinalEncoder(categories=Order)

In [133]:
df['embarked']=oen.fit_transform(df[['embarked']])

In [135]:
df.tail(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,NaN,1.0,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.225,NaN,1.0,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.875,NaN,0.0,NaN,NaN,NaN